# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
app.log
*.spec

# Build & Dist
build/
dist/
bin/
obj/
output/

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
